* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Segoe UI', sans-serif;
  }
  
  header.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
    background-color: transparent;
  }
  
  .navbar.scrolled {
    background-color: rgba(49, 48, 48, 0.85);
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 40px;
    margin-right: 10px;
  }
  .logo span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0e7d8c;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
  }
  nav a {
    color: rgb(114, 196, 240);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
    transition: 0.3s;
  }
  nav a:hover {
    color: #00bcd4;
  }
  
  .hero {
    height: 70vh;
    background-image: url('images/banner1.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  .hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(208, 232, 242, 0); /* 遮罩 */
  }
  .hero-text {
    position: relative;
  }
  .hero h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  .hero h2 {
    font-size: 3rem;
    margin-bottom: 15rem;
    color:  #f7c600;
  }
  .content {
    background-color: white;
    color: #000000;
    padding: 4rem 2rem;
    max-width: 1000px;
    margin: auto;
  }

  .feature-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 1rem;
    background-color: #f8fbfd;
  }
  
  .feature-card {
    background-color: #f2f8fb;
    width: 250px;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
  }
  .feature-card:hover {
    transform: translateY(-5px);
  }
  .feature-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  .feature-card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #222;
  }
  .feature-card p {
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
  }

  /* 平常：桌機用橫排 */
.nav-menu {
  display: flex;
  gap: 1rem;
}

/* 手機模式 */
@media (max-width: 768px) {
  .nav-menu {
    display: none; /* 預設隱藏選單 */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 1rem;
    border-radius: 8px;
  }

  .hero {
    height: 300px;
  }

  .nav-menu.active {
    display: flex; /* 點到按鈕才顯示 */
  }

  .hamburger {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
}

/* 桌機模式下不顯示漢堡按鈕 */
.hamburger {
  display: none;
}


  
  
